<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ci</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>



<!--导航栏-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                <!--#判断用户是否登陆-->
                {% if request.user.is_authenticated %}
                    <li><a href="#">{{request.user.username}}你已登陆</a></li>
                {% else %}
                    <li><a href="#">请登录！</a></li>
                {% endif %}

              </ul>
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--根据测试环境，应用，版本号查询-->
<div class="container">
  <form class="form-inline" method="post">
    <div class="form-group">
      <label for="exampleInputName2">环境：</label>
      <input type="text" class="form-control" name="pack_env" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">应用：</label>
      <input type="text" class="form-control" name="pack_app" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">版本：</label>
      <input type="text" class="form-control" name="pack_version" />
    </div>
    <button type="submit" class="btn btn-default">查询</button>
    <input type="reset"  class="btn btn-default" value="Reset" />
  </form>
</div>


<div class="container" style="margin-top: 40px;">
    <ul class="list-group">
        {% for i in pack_list %}
            <a  href="javascript:void(0);" data-url="{{i}}" target="_blank">
            <li class="list-group-item">{{i}}</li>
            </a>
        {% endfor %}
    </ul>
</div>

<!--js模拟表单下载-->
    <form id="downForm" action="/download/" method="post" style="display:none;">
      <input id="file" type="hidden" name="download_file" value="">
    </form>
</body>
<script src="http://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
<script>
  $(function(){
    $('.download').click(function(){
      var $this = $(this);
      $('#file').val($this.data('url'));
      $('#downForm').submit();
        return false;
    })
  })
  
</script>
</html>