<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ci</title>
</head>
<body>
<!--#判断用户是否登陆-->
{% if request.user.is_authenticated %}
    {{request.user.username}}你已登陆！
    </p>

    {% for j in List %}
        <a href="{{j.url_url}}" target="_blank">{{j.url_name}}</a>
    </p>
    {% endfor %}

{% else %}
    请登录！
{% endif %}

<!--版本号-->
<form>

     <select name="cars">
          <option value="volvo">主机a</option>
          <option value="saab">主机b</option>
          <option value="fiat">主机c</option>
         <option value="audi">主机d</option>
     </select>
      <input type="button" value="回滚">
     </br>
    {% for i in Pack_List %}
          <input type="radio" name="version" value="{{i}}" /> {{i}} </br>
    {% endfor %}


</form>


</body>
</html>